body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.header-hero-wrapper {
  background: url("/content/vicke.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(8px);
  margin: 0;
}

header h1 {
  font-size: 36px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#tech {
  font-size: smaller;
  word-spacing: 10px;
}

p {
  border: 2px solid rgb(93, 93, 93, 0.3);
  border-radius: 8px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.clean-weather,
.to-do,
.profile-page {
  border: 2px solid rgb(87, 87, 87, 0.6);
  border-radius: 8px;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: rgb(230, 230, 230, 0.15);
}

.hero {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  color: #444;
}

.hero h2 {
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-size: 20px;
  color: black;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.projectsAndContact {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.8),
    rgba(122, 184, 128, 0.5)
  );
  padding-top: 10px;
}

.projects {
  padding: 40px;
  text-align: center;
  margin-top: 0;
}

.projects h3 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 5px;
}

.projects h4 {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.projects p {
  font-size: 16px;
}

.contact {
  background-color: rgb(230, 230, 230, 0.2);
  width: 100%;
  text-align: center;
  border: 1px solid rgb(109, 109, 109, 0.4);
  margin: 0 auto;
}

.contact h3 {
  padding-top: 10px;
  margin: 0;
}

#contact {
  border: none;
  padding-bottom: 10px;
}

.video-wrapper video {
  border-radius: 8px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.video-wrapper-todo video {
  border-radius: 8px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  width: 80%;
}
